{% extends "layout.html" %}


{% block body %}

<h3><a href="{{ url_for('sakums') }}">Mana grāmatu kolekcija</a></h3>
<h1>Grāmatu saraksts</h1>
<h3><a href="{{ url_for('pievienot') }}">Pievienot jaunu grāmatu</a></h3>


{% if gramatas %}
    <ul>
        {% for gramata in gramatas %}
            <li>
                <strong>{{ gramata.nosaukums }}</strong> - {{ gramata.autors }} ({{ gramata.gads }}) - {{ gramata.statuss }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nav pievienotu grāmatu.</p>
{% endif %}

{% endblock %}