{% extends "layout.html" %}
{% block body %}

<div class="form-wrapper">
  <div class="top-bar">
    <a href="{{ url_for('sakums') }}">Mana grāmatu kolekcija</a>
    <h1>Grāmatu saraksts</h1>
    <a href="{{ url_for('pievienot') }}">Pievienot jaunu grāmatu</a>
  </div>

  <div class="filter-bar">
    <span>Šķirot pēc:</span>
    <span class="header-cell">Nosaukums</span>
    <span class="header-cell">Autors</span>
    <span class="header-cell">Žanrs</span>
    <span class="header-cell">Gads</span>
    <span class="header-cell">Statuss</span>
  </div>

  <table class="book-table">
    <tbody>
      {% for gr in gramatas %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ gr.nosaukums }}</td>
        <td>{{ gr.autors }}</td>
        <td>{{ gr.zanrs }}</td>
        <td>{{ gr.gads }}</td>
        <td class="truncate" title="{{ gr.isuma }}">{{ gr.isuma }}</td>
        <td>  
          {% if gr.statuss == 'Izlasīts' %}
            ✅
          {% elif gr.statuss == 'Lasu' %}
            ⏳
          {% elif gr.statuss == 'Pamests' %}
            😴
          {% elif gr.statuss == 'Plānā' %}
            📅
          {% endif %}
        </td>
        <td><a>🖋️</a></td>
        <td><a>🗑️</a></td>
        
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
