{% extends "layout.html" %}


{% block body %}

<h3><a href="{{ url_for('sakums') }}">Mana grāmatu kolekcija</a></h3>
<h1>Pievienot jaunu grāmatu</h1>
<h3><a href="{{ url_for('saraksts') }}">Grāmatu saraksts</a></h3>

<form action="{{ url_for('pievienot') }}" method="POST">
    <div>
        <label>Nosaukums</label><br>
        <input type="text" name="nosaukums" required>
    </div>

    <div>
        <label>Gads</label><br>
        <input type="number" name="gads" required>
    </div>

    <div>
        <label>Autors</label><br>
        <input type="text" name="autors" required>
    </div>

    <div>
        <label>Žanrs</label><br>
        <input type="text" name="zanrs">
    </div>

    <div>
        <label>Īsumā</label><br>
        <textarea name="isuma"></textarea>
    </div>

    <div>
        <label>Statuss</label><br>
        <input type="radio" name="statuss" value="Izlasīts"> Izlasīts✅<br>
        <input type="radio" name="statuss" value="Lasu"> Lasu⏳<br>
        <input type="radio" name="statuss" value="Pamests"> Pamests😴<br>
        <input type="radio" name="statuss" value="Plānā"> Plānā📅<br>
    </div>

    <button class="btn btn-success rounded-pill px-3" type="submit">Saglabāt</button>
</form>

{% endblock %}