{% extends "layout.html" %}
{% block body %}

<div class="form-wrapper">
  <div class="top-bar">
    <a href="{{ url_for('sakums') }}">Mana grāmatu kolekcija</a>
    <h1>Pievienot jaunu grāmatu</h1>
    <a href="{{ url_for('saraksts') }}">Grāmatu saraksts</a>
  </div>

  <form method="POST" action="{{ url_for('pievienot') }}">


    <div class="form-row">
      <label>Nosaukums</label>
      <input type="text" name="nosaukums" required>

      <label>Gads</label>
      <input type="text" name="gads" required>
    </div>
  
    <div class="form-row">
      <label>Autors</label>
      <input type="text" name="autors" required>

      <label>Žanrs</label>
      <input type="text" name="zanrs" required>
    </div>
  
    <div class="form-row">
      <label>Īsumā</label>
      <textarea name="isuma" required></textarea>
    </div>
  
    <div class="form-row status-row">
      <label>Status</label>
      <div class="status-options">
        <label><input type="radio" name="statuss" value="Izlasīts" required> Izlasīts✅</label>
        <label><input type="radio" name="statuss" value="Lasu"> Lasu⏳</label>
        <label><input type="radio" name="statuss" value="Pamests"> Pamests😴</label>
        <label><input type="radio" name="statuss" value="Plānā"> Plānā📅</label>
      </div>
    </div>
  
    <div class="form-row">
      <button class="btn-save" type="submit">Saglabāt</button>
    </div>
  </form>
  

{% endblock %}
